@media (max-width: 576px) {
    header {
        justify-content: center;
    }

    #company-logo {
        width: 25vw !important;
    }

    h1 {
        font-size: 5vw !important;
    }

    #icon-top {
        width: 90vw !important;
        height: 40vh !important;


    }

    .intro {
        font-size: 10vw !important;
    }

    h2 {
        margin-top: 5vw;
    }

    #phone-svg {
        width: 80vw !important;
        height: 80vh !important;


    }

    #section {
        width: 100vw !important;
        margin: 0;

    }

    #icon-laptop {
        width: 50vw !important;
        height: 50vw !important;
    }

    #facebook-icon {
        width: 15vw;
    }
}


body {
    background-color: #660000;
}

h1 {
    font-family: 'Forum', cursive;
    color: white;
    font-size: 2vw;
    letter-spacing: 0.5vh;

}

#company-logo {
    width: 10vw;
}

header {
    align-items: center;
    margin-top: 2vw;
    background-color: #660000;
}

.intro {
    color: white;
    font-family: 'Forum', cursive;
    font-size: 5vw;
    background-color: #660000;

}

#grid-top {
    background-color: #660000;
    width: 100vw;
    margin: 0;
    padding-top: 2vh;
    padding-bottom: 2vw;
}

#icon-top {
    width: 30vw;
    height: 30vw;
    color: #5ec57e;
    align-self: flex-end;
    background-color: #660000;
}

.toplink {
    text-align: center;
    text-decoration: none;
    color: white;


}

.toplink:hover {
    color: black;

}

.start-link {
    background-color: #5ec57e;
    margin-left: 40vw;
    margin-right: 40vw;
    border-radius: 8px;
    padding: 1vw;
}

.top-arrow {
    text-align: center;
    color: white;
}

#section {

    justify-content: center;
    font-family: 'Forum', cursive;
    margin-top: 10vw;
    color: #660000;
    font-size: 3vw;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100vw !important;
}

#phone-svg {
    display: flex;
    justify-content: center;
    color: #5ec57e;

}

h2 {
    font-size: 6vw;
}

#profile {
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    background-color: white;
    color: #660000;
    text-align: center;
    font-family: 'Forum', cursive;
}

h4 {
    text-align: center;
    background-color: white;
    margin-bottom: 0%;
    font-size: 5vw;
    color: #5ec57e;
    font-family: 'Forum', cursive;
    text-decoration: underline #660000;
}

#use {
    background-color: white;
    padding: 3vw;
}

#laptop-icon {
    background-color: white;
    text-align: center;
    color: #5ec57e;
}

.review {
    background-color: white;
    text-align: center;
    font-size: 3vw;
    padding-left: 2vh;
    padding-right: 2vh;
    color: #660000;
    margin-bottom: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}

.use-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #660000;
}

.use-info {
    font-family: 'Forum', cursive;
    color: #660000;
}

.review-person {
    text-align: center;
    color: #660000;
    background-color: white;
    margin-top: 0%;
    font-size: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0%;
}

.project-icon {
    background-color: white;
    margin-top: 0%;
    text-align: center;
    padding-top: 10vw;
}

hr {
    margin: 0%;
}

h5 {
    text-align: center;
    background-color: white;
    font-size: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0%;
}



.about-link {
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 2vw;
    font-family: 'Forum', cursive;
    background-color: #5ec57e;
    font-size: 5vw;
    text-decoration: none white;
}

#link {
    text-decoration: none;
    color: white;
}

h6 {
    text-align: center;
    background-color: #660000;
    font-size: 5vw;
    color: white;
    font-family: 'Forum', cursive;
    padding-top: 5vw;
}

#form {
    text-align: center;
    font-size: 4vw;
    color: white;
    padding-bottom: 2vw;
}

button {
    background-color: #5ec57e;
    border-radius: 8px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background-color: white;
}

#foot-title {
    text-align: center;
    padding-top: 10vw;
    color: #660000;
    font-family: 'Forum', cursive;
    font-size: 6vw;
    margin: 0%;
}

#social {
    text-align: center;
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: #b11c1c;
    margin: 0%;
}

#facebook {
    text-align: center;
    padding-top: 1vh;
    text-decoration: none;

}

#facebook-icon {
    color: #b11c1c;
    text-decoration: none;
}

#social2 {
    text-align: center;
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: #b11c1c;
    margin: 0%;
    padding-top: 10vh;
}

#email-link {
    text-decoration: none;
    color: #660000;
}

#email-words {
    text-align: center;
    font-family: 'Forum', cursive;
    font-weight: 600;
    font-size: 3vw;
    text-shadow: 0.5vh 1vh 0.5vh #CE5937;
}

#social3 {
    text-align: center;
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: #b11c1c;
    margin: 0%;
    padding-top: 5vh;
}

#phone-link {
    text-decoration: none;
    color: #660000;
}

#phone-words {
    text-align: center;
    font-family: 'Forum', cursive;
    font-weight: 600;
    font-size: 3vw;
    text-shadow: 0.5vh 1vh 0.5vh #CE5937;
}

#copyright {
    color: #5ec57e;
}

#policy {
    text-align: center;
}

#policy-link {
    text-decoration: none;
    color: #5ec57e;
}

/*
font-family: 'Forum', cursive;
font-family: 'Source Sans Pro', sans-serif;
*/
